.skills-table,
.business-table {
  margin: 0 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding: 1em;
}

.main-container {
  margin-top: 4rem;
  min-height: 100vh;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
}

.price {
  width: 15%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.xp > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.xp > img {
  margin: 1em;
}

td > img {
  opacity: 75%;
}

td > img:hover {
  opacity: 1;
}

@media screen and (min-width: 1900px) {
  table {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 1400px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "xp xp"
      "perclick persec";
  }

  section {
    margin-bottom: 1em;
  }

  .xp {
    grid-area: xp;
  }

  .inventory-container.per-click {
    grid-area: perclick;
  }

  .inventory-container.per-sec {
    grid-area: persec;
  }

  td:nth-child(2) {
    width: 14%;
  }
}

@media screen and (max-width: 1100px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "xp"
      "perclick"
      "persec";
  }
  .clicking-area-container {
    margin: 0 auto;
  }

  .inventory-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills-table {
    width: 80%;
  }

  section {
    margin-top: 1em;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .desc {
    width: 80%;
  }

  td:nth-child(2) {
    width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .skills-table {
    width: 90%;
  }
}

@media screen and (max-width: 551px) {
  .main-container {
    margin-top: 6.5rem;
  }
}
