*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  color: var(--hBgD);
}

:root {
  --hBg: #f8e16c;
  --hBgD: #343a40;
  --Bg: #f8f398;
  --BgD: black;
  --TBg: #f8e16c;
  --TBgD: orange;
}

.bgDark {
  background-color: var(--hBgD);
  color: var(--Bg);
}

.bgDarkC {
  background-color: var(--TBgD);
  color: var(--hBgD);
}

.bgLightC {
  background-color: var(--hBg);
}

.header {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0;
}

.rbtn {
  position: fixed;
 left: 5rem;
 top: 0.5rem;
}

.restart {
  font-size: 22px;
  background-color: var(--Bg);
  border: 3px solid orange;
  border-radius: 30%;
  padding: 1rem;
}

.business-table {
  box-sizing: content-box;
}

body {
  min-width: 540px;
  background-color: var(--Bg);  
  margin: 0;
}

.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: white;
  position: fixed;
  top: 2rem;
  right: 5rem;
  display: flex;
  justify-content: space-around;
}

.lang {
  right: 9rem;
  color: black;
}

.lang p {
  margin-top: 0.1rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}

p {
  user-select: none;
}

h1 {
  text-align: center;
  margin: 1em 0;
}

.skills-table,
.business-table {
  margin: 0 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding: 1em;
}

.main-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.inventory-container {
  min-width: 540px;

}

.price {
  width: 15%;
  padding-left: .5em;
  padding-right: .5em;
}

.clicking-area-container {
  text-align: center;
}

.xp>img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

img {
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.xp>img {
  margin: 1em;
}

td>img {
  opacity: 75%;
}

td>img:hover {
  opacity: 1;
}

/* Az alert háttere */
.alert {
  background-color: #f44336; /* Piros */
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

/* Az alert becsomagolója */
.alert-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1400px) {
  .main-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "xp xp"
          "perclick persec";
  }

  section {
      margin-bottom: 1em;
  }

  .xp {
      grid-area: xp;
  }


  .inventory-container.per-click {
      grid-area: perclick;

  }

  .inventory-container.per-sec {
      grid-area: persec;

  }

  td:nth-child(2) {
      width: 14%;
  }
  
}

@media screen and (max-width: 1100px) {
  .main-container {
      grid-template-columns: 1fr;
      grid-template-areas:
          "xp"
          "perclick"
          "persec";
  }
  .clicking-area-container {
      margin: 0 auto;
  }

  .inventory-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills-table {
    width: 80%;
  }

  section {
      margin-top: 1em;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .desc {
    width: 80%;
  }

  td:nth-child(2) {
      width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .toggle {
    right: 1rem;
  }

  .lang {
    right: 5rem;
  }

  .rbtn {
    left: 1rem;
  }

  .skills-table {
    width: 90%;
  }
}
