*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  color: var(--hBgD);
}

:root {
  --hBg: #f8e16c;
  --hBgD: #343a40;
  --Bg: #f8f398;
  --BgD: black;
  --TBg: #f8e16c;
  --TBgD: orange;
  --Btn: #6f42c1;
}

.bgDark {
  background-color: var(--hBgD);
  color: var(--Bg);
}

.bgDarkC {
  background-color: var(--TBgD);
  color: var(--hBgD);
}

.bgLightC {
  background-color: var(--hBg);
}

.header {
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
  top: 0;
  position: fixed;
  z-index: 1; 
}

.rbtn {
  position: fixed;
  left: 5rem;
  top: 0.5rem;
}

.restart, .levelUp {
  font-size: 16px;
  background-color: var(--Btn);
  color: var(--Bg);
  border-radius: 30%;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.help-modal,
.restart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-modal-content,
.restart-modal-content {
  border-radius: 8px;
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.help-modal .close,
.restart-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.confirm {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 30%;
}

.cancel {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 30%;
}

.help {
  font-size: 20px;
  color: var(--Bg);
  background-color: var(--Btn);
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 30%;
}

#timer {
  margin-top: 1rem;
}

.business-table {
  box-sizing: content-box;
}

body {
  background-color: var(--Bg);
  margin: 0;
}

.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid var(--Btn);
  background-color: white;
  position: fixed;
  top: 2rem;
  right: 5rem;
  display: flex;
  justify-content: space-around;
}

.lang {
  right: 9rem;
  color: black;
}

.lang p {
  margin-top: 0.1rem;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--Btn);
  position: absolute;
  cursor: pointer;
}

p {
  user-select: none;
}

h1 {
  text-align: center;
  margin: 0.1em 0;
}

.skills-table,
.business-table {
  margin: 0 20px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding: 1em;
}

.main-container {
  margin-top: 4rem;
  min-height: 100vh;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
}

.price {
  width: 15%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.clicking-area-container {
  text-align: center;
}

.xp > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

img {
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.xp > img {
  margin: 1em;
}

td > img {
  opacity: 75%;
}

td > img:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content p {
  margin-bottom: 10px;
}

.mBtn {
  font-size: 16px;
  margin: 1rem auto;
  background-color: var(--hBgD);
  color: var(--Bg);
  padding: 1rem;
  border-radius: 30%;
}

body {
  overflow: hidden;
} 


@media screen and (max-width: 1400px) {
  body {
    overflow: auto;
  }

  .main-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "xp xp"
      "perclick persec";
  }

  section {
    margin-bottom: 1em;
  }

  .xp {
    grid-area: xp;
  }

  .inventory-container.per-click {
    grid-area: perclick;
  }

  .inventory-container.per-sec {
    grid-area: persec;
  }

  td:nth-child(2) {
    width: 14%;
  }
}

@media screen and (max-width: 1100px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "xp"
      "perclick"
      "persec";
  }
  .clicking-area-container {
    margin: 0 auto;
  }

  .inventory-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills-table {
    width: 80%;
  }

  section {
    margin-top: 1em;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .desc {
    width: 80%;
  }

  td:nth-child(2) {
    width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .toggle {
    right: 1rem;
  }

  .lang {
    right: 5rem;
  }

  .rbtn {
    left: 1rem;
  }

  .skills-table {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .title {
    margin-top: 4rem;
  }

  .header {
    padding: 0.3rem;
  }

  .main-container {
    margin-top: 5.5rem;
  }

}

